@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap');

/*COLORS: {
  green: 0x819603,
  brown: 0x8b7346,
  white: 0xf4efe5,
  sky: 0xccdfef,
  navy: 0x397cb6,
  pink: 0xF5986E,
  red:0xf25346,
  brownDark:0x23190f
  }*/

body {
  margin: 0;
  overflow-y: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: small;
  background-color: #ccdfef;
}
body *{margin: 0;}

h1,h2,h3,h4,h5{font-family: "Poly", cursive; }
h2{font-size: 20px;}

canvas {
  width: 100vw;
  height: 75vh;
  border: none;
  display: block;
  background: rgb(244,236,188);
  /*background: linear-gradient(1800deg, rgba(244,236,188,1) 0%, rgba(244,223,188,1) 43%, rgba(244,188,214,1) 100%);*/
  background: radial-gradient(ellipse  at center bottom, #397cb6 0%, #ccdfef 89%, #f4dfbc 100% );
  /*background: radial-gradient(ellipse  at center bottom, #000b15 0%, #072d4d 89%, #816a43 100% );*/
  background-size: 150vw 100vh;
  background-position: -25vw 0;
}

.h100{height: 100vh !important;}

.point{
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Poly", cursive; 
  font-size: 2.5rem;
  margin: 0 5px 5px;
  text-align: right;
  color: rgba(10, 17, 57, 0.8);
}

.button{
  width: 100vw;
  padding: 1vh;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}
.button button {
  background-color: rgb(244,244,244, 0.8);
  border-radius: 2px;
  font-size: 28px;
  border: 1px solid rgb(244,244,244, 0.4);
  border-radius: 5px;
  padding: 2px 20px;
  margin: 2px;
}

.menu {
  position: absolute;
  width: 98vw;
  height: 98vh;
  top: 1vh;
  left: 1vw;
  background-color: rgb(244,244,244, 0.9);
  color: black;
  border-radius: 5px;
  padding: 5px;
  visibility: hidden;
  transition: 0.3s;
}

.menu-button {
  position: absolute;
  top: 1vh;
  left: 1vw;
  background-color: rgba(10, 17, 57, 0);
  font-weight: 900;
  border: none;
  font-size: 24px;
}

.menu-close {
  width: 100%;
  text-align: right;
  background-color: rgba(10, 17, 57, 0);
  border: none;
  font-size: 24px;
}

.menu-items {
  padding: 5px 2px;
  margin: 0;
  width: 100%;
  text-align: center;
}

.menu-items{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.col{
  flex-direction: column;
  margin: 1vw auto;
}

.menu button{
  border: rgb(244,244,244, 0.4);
  background-color: #397cb6;
  color: #ccdfef;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px auto;
}

.container {
  position: absolute;
  width: 80vw;
  min-height: 60vh;
  left: 10vw;
  top: 8vh;
  background-color: rgb(244,244,244, 0.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container *{
  margin: 5px;
}

.container button{
  border: rgb(244,244,244, 0.4);
  background-color: #397cb6;
  color: #ccdfef;
  padding: 10px;
  border-radius: 5px;
  margin: 5px auto;
}


@media only screen and (min-width: 768px) {
  canvas {width: 100vw; height: 100vh;}
  .button{visibility: hidden;}
  .point{
    position: absolute; top: 0; right: 1vw;
    margin-top: 10px; padding-left: 20px; 
    color: rgba(255, 255, 255, 0.9);
    font-size: 2.8rem;
  }

  .menu {
    width: 15vw;
    height: min-content;
    position: absolute;
    background-color: rgb(244,244,244, 0.7);
    visibility: visible;
  }
  .menu-button {display: none;}
  .menu-close {display: none; }
    
  .container {
    width: 40vw;
    height: 50vh;
    left: 30vw;
    top: 25vh;
  }
  
  hr{margin: 10px !important;}

  }