@import url("https://webglfundamentals.org/webgl/resources/webgl-tutorials.css");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poly:ital@0;1&display=swap');

/*COLORS: {
  green: 0x819603,
  brown: 0x8b7346,
  white: 0xf4efe5,
  sky: 0xccdfef,
  navy: 0x397cb6,
  pink: 0xF5986E,
  red:0xf25346,
  brownDark:0x23190f
  }*/

body {
  margin: 0;
  overflow-y: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: small;
  background-color: #ccdfef;
}

body *{margin: 0;}

h1,h2,h3,h4,h5{font-family: "Poly", cursive; }
h2{font-size: 20px;}

canvas {
  width: 100vw; height: 100vh;
  border: none;
  display: block;
  background: radial-gradient(ellipse  at center bottom, #397cb6 0%, #ccdfef 89%, #f4dfbc 100% );
  background-size: 150vw 100vh;
  background-position: -25vw 0;
  z-index: 1;
  transition: all 2s ease-in-out; 
}

input[type="range" i] {accent-color: #7e8081;}

code{display: block; white-space: pre-wrap}

.h100{height: 100vh !important;}

.point{
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Poly", cursive; 
  font-size: 2.5rem;
  margin: 0 5px 5px;
  text-align: right;
  color: rgba(255, 255, 255, 0.9);
  position: absolute; top: 0; right: 1vw;
  z-index: 100;
}

.button{
  width: 100vw;
  padding: 1vh;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 2vh;
}
.button button {
  background-color: rgb(244,244,244, 0.8);
  border-radius: 2px;
  font-size: 28px;
  border: 1px solid rgb(244,244,244, 0.4);
  border-radius: 5px;
  padding: 2px 20px;
  margin: 2px;
}

.menu {
  position: absolute;
  width: 96vw;
  height: 98vh;
  top: 1vh;
  left: 2vw;
  background-color: rgb(244,244,244, 0.9);
  color: black;
  border-radius: 5px;
  visibility: hidden;
  transition: 0.3s;
  z-index: 105;
  overflow: scroll;
}
.menu-button {
  position: absolute;
  top: 1vh;
  left: 1vw;
  background-color: rgba(10, 17, 57, 0);
  font-weight: 900;
  border: none;
  font-size: 24px;
}
.menu-close {
  width: 94%;
  text-align: right;
  color: black !important;
  background-color: rgba(10, 17, 57, 0);
  border: none;
  font-size: 24px;
  position: fixed;
  margin: 0 !important; padding: 0 !important;
}
.menu>.space{height: 20px;}
.menu-items {
  padding: 5px 8vw;
  margin: 0;
  width: 100%;
  text-align: center;
  flex-direction: column;
}

.menu-items{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.col{
  flex-direction: column;
  margin: 1vw auto;
}

.menu button {
  border: rgb(244,244,244, 0.4);
  color: #ccdfef;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px auto;
}

.active {
  background-color: #397cb6 !important;
}

.inactive {
  background-color: #7e8081 !important;
}

.container {
  position: absolute;
  width: 80vw;
  height: 90vh;
  left: 10vw;
  top: 5vh;
  background-color: rgb(244,244,244, 0.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow-y: scroll;
}
.container .menu-buttons{display: flex; flex-wrap: wrap; justify-content: center;}
.container .menu-buttons button{white-space: nowrap;}
.container>*{margin: 5px;}
.container *{margin: 2px;}
.container .menu-items{width: min-content; padding: 5px;}
.container .d-flex>div {text-align: center;}
.container button{
  border: rgb(244,244,244, 0.4);
  background-color: #397cb6;
  color: #ccdfef;
  padding: 10px;
  border-radius: 5px;
  margin: 5px auto;
}

/**  CSS DOC  **/


.body-documentation{overflow-y: auto; font-size: 12px;}

.documentation{
  text-align: center;
  background-color: rgb(244,244,244, 0.9);
  border-radius: 15px;
  width: 90vw;
  margin: 3vh 5vw;
  padding: 10px 2%;
}
.documentation h1{ font-size: 22px; margin-top: 1vh;}
.documentation h2{margin-top: 1vh; font-size: 16px; text-transform: uppercase;}
.documentation .subTitle{margin-top: 0.5vh; font-weight: bold; text-transform: uppercase; text-align: center;}
.documentation p>span {display: block; height: 5px;}
.documentation p>a {text-decoration: none; color: unset; font-style: italic;}
.documentation .big-img {max-height: 250px; max-width: 100%; object-fit: contain; border-radius: 5px;}
.documentation .small-img{
  max-width: 10vw;
  max-height: 8vw;
  object-fit: contain;
}
.documentation .scale-05{transform: scale(0.8);}


.sticky-menu {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #333;
  text-align: left;
}
.sticky-menu a {color: #f2f2f2; text-decoration: none; display: block;}
.sticky-menu .menu-documentation, .submenu { list-style-type: none; padding: 0; display: none; flex-direction: column;}
.sticky-menu li { position: relative;}
.sticky-menu li > a {padding: 14px 16px;}
.submenu {background-color: #444;}
.submenu li a {padding: 10px;}
.menu-toggle {
  display: block;
  background-color: #444;
  color: white;
  padding: 10px;
  font-size: 18px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.menu-open .menu-documentation { display: flex; }

.d-flex>div{ text-align: left;}
.col-3,.col-4,.col-6,.col-5,.col-7,.col-8,.col-9{min-width: 100%}
.d-flex .col-6{text-align: justify; align-self: baseline; padding: 10px;}

.centerH{align-self: center !important;}
.centerW{text-align: center !important;}

.p-left{padding-left: 10px;}
.text-right{text-align: right; margin-right: 5px;}
.w-120 {width: 120%; position: relative; left: -10%;}


/* Stile per il modal */
.modal {
  display: none;
  position: fixed;
  z-index: 150;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content { max-width: 90%; max-height: 90%; border-radius: 5px;}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
}

@media only screen and (min-width: 768px) {
  .button{visibility: hidden;}
  .point{margin-top: 10px; padding-left: 20px; font-size: 2.8rem;}

  .menu {
    width: 15vw;
    height: min-content;
    position: absolute;
    background-color: rgb(244,244,244, 0.7);
    visibility: visible !important;
    overflow: hidden;
    left: 1vw;
  }
  .menu>.space{height: 0px;}
  .menu-button {display: none;}
  .menu-close {display: none; }
  .menu-items {padding: 5px 2px;}
    
  .container {
    overflow-y: auto;
    width: 40vw;
    min-height: 60vh;
    height: auto;
    left: 30vw;
    top: 4vh;
    justify-content: center;
  }
  
  hr{margin: 10px !important;}

  .body-documentation{font-size: 14px;}
  .documentation{padding: 10px 10%;}
  .documentation h1{ font-size: 24px; margin-top: 2vh;}

  .sticky-menu {text-align: center;}
  .sticky-menu .menu-documentation {display: flex; justify-content: center; flex-direction: row;}
  .menu-toggle {display: none;}
  .submenu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  .sticky-menu li:hover .submenu {display: block;}
  .sticky-menu li > a:hover{background-color: #111;}
  .submenu li a:hover {background-color: #555;}


  .d-flex{display: flex; justify-content: space-around; align-items: center;}
  .d-flex .col-3{min-width: 25%;}
  .d-flex .col-4{min-width: 33%;}
  .d-flex .col-5{min-width: 41%;}
  .d-flex .col-6{min-width: 50%;}
  .d-flex .col-7{min-width: 58%;}
  .d-flex .col-8{min-width: 67%;} 
  .d-flex .col-9{min-width: 75%;}
  }